//COLORS
$main-color: #cee7fe;
$clickable-elements-color: #ffd386;
$hover-color: #fff4d5;

//BREAKPOINTS
$breakpoint-small-phone: 320px;
$breakpoint-big-phone: 480px;

$breakpoint-small-tablet: 481px;
$breakpoint-big-tablet: 768px;

$breakpoint-small-laptop: 769px;
$breakpoint-big-laptop: 1024px;

$breakpoint-small-desktop: 1025px;
$breakpoint-big-desktop: 1200px;
